# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
BushidoBear/Assets/Scripts/CharacterActionEventData.cs
BushidoBear/Assets/Scripts/CharacterActionEventData.cs.meta
BushidoBear/Assets/Scripts/Controllers/SimpleAIController.cs
BushidoBear/Assets/Scripts/Controllers/SimpleAIController.cs.meta
BushidoBear/Assets/Scripts/Controllers/JudoJaguarController.cs.meta
BushidoBear/Assets/Scripts/Controllers/KravMagaMacawController.cs.meta
BushidoBear/Assets/Scripts/Controllers/NunchuckWoodchuckController.cs.meta
BushidoBear/Assets/AceAsset/SchoolGirl/Humanoid/Girl@Skill.FBX.meta
BushidoBear/Assets/AceAsset/SchoolGirl/Humanoid/Girl@Attack.FBX.meta
BushidoBear/Assets/AceAsset/SchoolGirl/Humanoid/Girl@Damage01.FBX.meta
BushidoBear/Assets/Materials/Materials.meta
BushidoBear/Assets/Materials/Materials/Nijo-Castle.mat
BushidoBear/Assets/Materials/Materials/Nijo-Castle.mat.meta
BushidoBear/Assets/Scripts/Controllers/GrapplerAI.cs.meta
BushidoBear/Assets/Scripts/Camera/OrthographicGroupCamera.cs.meta
